@use "../GlobalStyles/" as global;

header {
  background-image: url(./images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  height: 18.75rem;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10rem;
  padding-top: 1.95rem;
  // position: relative;
  box-shadow: inset 0 0 15rem rgba(0, 0, 0, 0.45);

  @media (min-width: 600px) {
    background-image: url(./images/image-hero-desktop.jpg);
    background-position: center;
  }
}
.logo {
  z-index: 2;
}
.menu-icon {
  cursor: pointer;
  z-index: 2;

  @media (min-width: 900px) {
    display: none;
  }
}

.hidden {
  opacity: 0;
}

.hamburger-menu {
  position: absolute;
  top: 4.25rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.5rem;
  width: 20.9375rem;
  z-index: 2;
  transition: opacity 0.45s ease-in-out;

  &__list {
    list-style: none;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 4.25rem;
    z-index: 1;
    padding-left: 0;
    margin: 0;
  }

  @media (min-width: 900px) {
    display: none;
  }
}

.mobile-nav {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
}

.mobile-nav:nth-child(1)::after,
.mobile-nav:nth-child(2)::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 20.9375rem;
  left: 0;
  background-color: rgb(230, 230, 230);
}

.desktop-nav {
  display: none;

  @media (min-width: 900px) {
    display: block;
    justify-self: start;
    color: white;

    &__list {
      list-style: none;
      display: flex;
      gap: 2rem;
      margin-top: 0;
    }
    &__list > li {
      cursor: pointer;
      font-size: 0.95rem;
    }
    &__list > li:hover {
      text-decoration: underline;
    }
  }
}
